# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# testing
coverage/

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# supabase local
packages/db/supabase/.temp/
packages/db/supabase/.branches/

# flutter (apps/mobile)
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins*
apps/mobile/build/

# editors
.idea/
.vscode/*
!.vscode/extensions.json
